<html>

<head>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <div id="container">
        <aside>
            <h5 id="homeLink">Ticketvendor</h5>
            <ul>
                <li class="navlink">Events</li>
                <li class="navlink">Users</li>
                <li class="navlink">Admins</li>
            </ul>
        </aside>
        <main>
            <div id="landing">
                <h1>Welcome Admin</h1>
            </div>
            <div id="events">
                <div>
                    {{#events}}
                    <p id="delete-event-message"></p>

                    <div class="dashevent">
                        <div><img src={{this.eventImage}}></div>
                        <div>
                            <h5>{{this.eventName}}</h5>
                            <a onClick=deleteEvent("{{this._id}}")>delete this event</a>
                        </div>
                    </div>
                    {{/events}}
                </div>
                <div>
                    <form id="newEventForm" onSubmit=newEvent(event)>
                        <p id="add-event-message"></p>
                        <input type="text" name="eventName" placeholder="Event name" id="eventname">
                        <input type="text" name="eventDate" placeholder="Date of the event, ex. 24/01/20"
                            id="eventdate">
                        <input type="text" name="location" placeholder="Location of the event" id="location">
                        <select type="text" name="category" id="category">
                            <option value="festival">Festival</option>
                            <option value="concert">Concert</option>
                            <option value="convention">Convention</option>
                        </select>
                        <input type="number" name="ticketPrice" placeholder="Price of the tickets" id="price">
                        <input type="number" name="tickets" placeholder="Amount of tickets" id="amount-tickets">
                        <input type="text" name="eventImage" id="imageUrl"
                            placeholder="Url to the image you want as a banner/thubmnail">

                        <textarea type="text" name="description" placholder="Description of the event"
                            id="description"></textarea>
                        <button type="submit">Add new event</button>
                    </form>
                </div>

            </div>
            <div id="users">
                <div>
                    {{#users}}
                    <div class="usercontainer">
                        <p>{{this.username}}</p>
                        <a>Delete {{this.username}}</a>
                    </div>
                    {{/users}}
                </div>
                <div>
                    <form id="newUserForm">
                        <input type="text" name="username" id="usernameuser">
                        <input type="text" name="email" id="emailuser">
                        <button type="submit">Add new user</button>
                    </form>
                </div>
            </div>
            <div id="admins">
                <div>
                    {{#admins}}
                    <div class="usercontainer">
                        <p>{{this.username}}</p>
                        <a>Delete {{this.username}}</a>
                    </div>
                    {{/admins}}
                </div>
                <div>
                    <form id="newAdminForm">
                        <input type="text" name="username" id="usernameuser">
                        <input type="text" name="email" id="emailuser">
                        <input type="password" name="password" id="passworduser">
                        <button type="submit">Add new user</button>
                    </form>
                </div>
            </div>




        </main>


    </div>
    <script src="../js/dashboard.js"></script>
</body>

</html>